In [2]:

#pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-8.4.0-py2.py3-none-any.whl.metadata (1.9 kB)
Using cached mysql_connector_python-8.4.0-py2.py3-none-any.whl (565 kB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
Note: you may need to restart the kernel to use updated packages.

# Database CRUD operations

## Connect and Create Database

In [1]:
import mysql.connector

#database mentioned should be already created in mysql else error : Unknown database 'python_mysql'

mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345678',
    port=3306,
    database='python_mysql'
)

In [21]:
#creating new database, no db parameter mentioned. 
mydb2=mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345678',
    port=3306
)
mycursor = mydb2.cursor()
mycursor.execute("CREATE DATABASE student")

## Review Databases

In [22]:
mycursor.execute('SHOW DATABASES')

In [23]:
for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('python_mysql',)
('student',)
('sys',)

## Drop Database

In [28]:
mycursor.execute('DROP DATABASE student')

In [29]:
mycursor.execute('SHOW DATABASES')

In [30]:
for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('python_mysql',)
('sys',)

# Table CRUD operations

## Create table and insert values

In [33]:
#review db connection
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fc6428c92e0>

In [2]:
#at a time only one connection can be made, run the intial connection and then this cursor
cursor = mydb.cursor()

## Creating Table

In [50]:
#cursor.execute("drop table if exists python_mysql.student")
cursor.execute("Create table student (id int auto_increment primary key,name varchar(255),subject varchar(255))")
cursor.fetchall()

[]

In [10]:
#no data hence empty list displayed
cursor = mydb.cursor()
cursor.execute("Select * from student")
cursor.fetchall()

[]

## Inserting Values in Database

In [11]:
query = "INSERT INTO student (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 8

In [59]:
cursor.execute("Select * from student")
cursor.fetchall()

[(2, 'John', 'Stats')]

In [12]:
query = "INSERT INTO student (name, subject) VALUES (%s, %s)"
values = [
        ("Joe", "Maths"),
        ("Kim","Data Science"),
        ("Nancy","Data Science"),
        ("Kim","Maths"),
        ("Belly","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 9

## Reading Tables

In [4]:
cursor.execute("Select * from student")
cursor.fetchall()

[]

In [78]:
### Fetch One Record At A time(next record where the cursor is pointed at)
cursor.fetchone()

In [26]:
cursor = mydb.cursor()
cursor.execute("Select * from student")

In [14]:
#getting a tuples of records
lst=cursor.fetchall()
for records in lst:
    print(records)

(8, 'John', 'Stats')
(9, 'Joe', 'Maths')
(10, 'Kim', 'Data Science')
(11, 'Nancy', 'Data Science')
(12, 'Kim', 'Maths')
(13, 'Belly', 'Data Science')

In [15]:
#displaying conditional rows
cursor.execute("Select * from student where subject='Data Science' ")

In [16]:
cursor.fetchall()

[(10, 'Kim', 'Data Science'),
 (11, 'Nancy', 'Data Science'),
 (13, 'Belly', 'Data Science')]

In [18]:
#displaying conditional columns
cursor.execute("Select name from student")

In [19]:
cursor.fetchall()

[('John',), ('Joe',), ('Kim',), ('Nancy',), ('Kim',), ('Belly',)]

In [22]:
#unique values 
cursor.execute("Select DISTINCT subject from student")

In [23]:
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

## Updating Values

In [24]:
cursor.execute("update student set name='Vedanti' where name = 'kim' and subject = 'Data Science'")

In [27]:
cursor.fetchall()

[(8, 'John', 'Stats'),
 (9, 'Joe', 'Maths'),
 (10, 'Vedanti', 'Data Science'),
 (11, 'Nancy', 'Data Science'),
 (12, 'Kim', 'Maths'),
 (13, 'Belly', 'Data Science')]

## Deleting records

In [28]:
cursor.execute("DROP TABLE student")

In [ ]:
Following Krish Naik's Video - MySQL With Python And Data Science

https://www.youtube.com/watch?v=us1XyayQ6fU&list=PLZoTAELRMXVMd3RF7p-u7ezEysGaG9JmO&index=1&ab_channel=KrishNaik